---
layout: default
---
<div class="publications-container">
    <div class="section-container">
        <h2 class="section-title">Events & Updates!</h2>
        <div class="navigation-container">
            {% assign event_posts = site.posts | where: "category", "event" %}
            {% if event_posts.size == 0 %}
                {% assign event_posts = site.posts | where: "categories", "event" %}
            {% endif %}
            {% if event_posts.size == 0 %}
                <!-- Show all posts EXCEPT those marked as blog (for backward compatibility) -->
                {% assign temp_posts = site.posts %}
                {% assign event_posts = "" | split: "," %}
                {% for post in temp_posts %}
                    {% unless post.category == "blog" or post.categories == "blog" %}
                        {% assign event_posts = event_posts | push: post %}
                    {% endunless %}
                {% endfor %}
            {% endif %}
            
            {% assign prev_post = nil %}
            {% assign next_post = nil %}
            {% assign found_current = false %}
            
            {% for post in event_posts %}
                {% if found_current %}
                    {% assign next_post = post %}
                    {% break %}
                {% endif %}
                {% if post.url == page.url %}
                    {% assign found_current = true %}
                {% else %}
                    {% assign prev_post = post %}
                {% endif %}
            {% endfor %}
            
            {% if prev_post %}
            <a href="{{ prev_post.url }}" class="nav-arrow prev-arrow" title="{{ prev_post.title }}">
                <i class="fa fa-chevron-left"></i>
            </a>
            {% else %}
            <span class="nav-arrow disabled">
                <i class="fa fa-chevron-left"></i>
            </span>
            {% endif %}

            <a href="/events/" class="back-link">
                Event list
            </a>

            {% if next_post %}
            <a href="{{ next_post.url }}" class="nav-arrow next-arrow" title="{{ next_post.title }}">
                <i class="fa fa-chevron-right"></i>
            </a>
            {% else %}
            <span class="nav-arrow disabled">
                <i class="fa fa-chevron-right"></i>
            </span>
            {% endif %}
        </div>
        <div class="event-content">
            <div class="event-header">
                <div class="event-date">
                    {{ page.date | date: "%d" }}/{{ page.date | date: "%b" }}/
                    <span class="year">{{ page.date | date: "%Y" }}</span>
                </div>
            </div>
            <div class="event-body">
                {{ content }}
            </div>
        </div>
    </div>
</div> 